/* Main Body Settings */
body {
    background-color:black;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    margin: 0;
    background-image: url(MatrixBackground.gif);
}
/* Paragraph Text Settings */
p {
    font-size: xx-large;
}
/* Heading Flex Box */
.topbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 100%;
}
/* Title Settings */
.topwriting{
    background-color: rgb(104, 110, 116);
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 25px;
    box-shadow: 10px 10px white;
    font-size: xx-large;
}
/* Mid Section Flex Box */
.midsection {
    display: flex;
    height: 65%;
    width: 100%;

}
/* Mid Section Sub Flex Box / Left */
.midleft{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: space-evenly;

}
/* Picture in Left Mid Area */
.netpicture {
    display: flex;
    height: fit-content;
    width: fit-content;
    
}
/* Mid Section Sub Flex Box / Right */
.midright{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
}
/* Welcome Message in Right Mid Area */
.midtext {
    display:flex;
    background-color: rgb(104, 110, 116);
    padding: 50px;
    border-radius: 25px;
    box-shadow: 10px 10px white;
    justify-content: center;
    width: 50%;
}
/* Bottom Section Flex Box */
.botbar {
    display: flex;
    height: 10%;
    width: 100%;
    justify-content:center;
    align-items: center;
}
/* Navigation Bar / Options */
.navbar {
    display: flex;
    background-color: rgb(104, 110, 116);
    align-items: center;

}
.mainNavList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
      
.navList {
    float: left;
}
      
.navList a {
    display: block;
    color: white;
    text-align: center;
    font-size: xx-large;
    text-shadow: orangered 2px 2px;
    padding: 14px 16px;
    text-decoration: none;
    }
      
.navList a:hover {
    background-color: #111;
}

/* Mobile Phone Settings */
@media only screen and (max-width: 600px) {
   
    .topwriting{
        background-color:red;
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 25px;
        box-shadow: 10px 10px white;
        font-size: xx-large;
    }


    
}