h3 {
    text-align: center;
    text-shadow:black 2px 2px;
    color: red
}
p {
    font-size: large;
}
button {
    color: white;
    background-color: black;
    max-width: 100px;
    align-self: center;
    font-size: medium;
}
body {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    margin: 0;
    background-image: url(MatrixBackground.gif);

}
.topbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 100%;
}
.topwriting{
    background-color: rgb(104, 110, 116);
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 25px;
    box-shadow: 10px 10px white;
    font-size: xx-large;
}
.midsection {
    display: flex;
    height: 65%;
    width: 100%;
    align-content: space-around;
    justify-content: center;
}
.midleft{
    display: flex;
    height: 70%;
    width: 30%;
    background-color: rgb(104, 110, 116);
    border-radius: 25px;
    box-shadow: 10px 10px white;
    justify-content: center;
    justify-items: center;
    align-self: center;
    flex-direction: column;
}
.midleftTop {
    display: flex;
    height: 40%;
}
.listOne {
    display: flex;
    height: 30%;
    width: 33.3%;
    flex-direction: column;
}
.listTwo {
    display: flex;
    height: 30%;
    width: 33.3%;
    width: 33.3%;
    flex-direction: column;

}
.listThree {
    display: flex;
    height: 30%;
    width: 33.3%;
    width: 33.3%;
    flex-direction: column;
}
.midleftBot {
    display: flex;
    height: 30%;
    width: 100;
    flex-direction: column;

}
.listObject {
    width: 33.3%;
    height: 100%;
}
.midright{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.midtext {
    display:flex;
    background-color: rgb(104, 110, 116);
    padding: 50px;
    border-radius: 25px;
    box-shadow: 10px 10px white;
    justify-content: center;
    width: 50%;
    flex-direction: column;
}
.botbar {
    display: flex;
    height: 10%;
    width: 100%;
    justify-content:center;
    align-items: center;
}
.navbar {
    display: flex;
    background-color: rgb(104, 110, 116);

}
.mainNavList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
      
.navList {
    float: left;
}
      
.navList a {
    display: block;
    color: white;
    text-align: center;
    font-size: xx-large;
    text-shadow: orangered 2px 2px;
    padding: 14px 16px;
    text-decoration: none;
    }
      
.navList a:hover {
    background-color: #111;
}

@media only screen and (max-width: 600px) {
   




  }
